{% extends "base.html.twig" %}

{% block title %}Administration{% endblock %}

{% block body %}
<div class="container">
<h1>Categories</h1>
<a href="{{ path('admin_create_categorie')}}" class="btn btn-success m-3">Ajouter</a>

<table class="table">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Non</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                    {% for categorie in categories %}
                        <tr>
                            <td>{{categorie.id}}</td>
                            <td>{{categorie.nom}}</td>  
                             
                            <td> 
                                <a class="btn btn-info m-3" href="{{ path('admin_categorie_edit', {id: categorie.id}) }} " >Editer </a>  
                                <a href="{{ path('admin_delate_categorie', {id: categorie.id}) }} " class="btn btn-danger">Suprimer</a>
                            </td>                         
                        </tr>
                    {% endfor %}
            </tbody>
        </table>

</div>
{% endblock %}